{{!--  
Page to add categories to the database, but the SECOND PAGE after hitting submit on addCate's page (ENTER A CATEGORY)
  --}}
<link rel="stylesheet" href="/static/addCate.css">
<body>
    <main class= "contentContainer" role= "main">
        <div class= "index">
              <form action="/addCategory" method="POST">
                <div class="container">
                  <br>
                  <h1 style="color: black;">Suggest a Category</h1>
                  <hr>
                  
                  {{#if error}}
                    <div class="alert alert-danger center-block" style="width: 80%; margin-left: 10%;" role="alert"> <i
                        class="fa fa-exclamation-triangle" aria-hidden="true">
                        {{error}}
                    </div>
                  {{/if}}

              
                  <label for="cate-name"><h4><b>Give your category a name.</b></h4></label>
                  <input type="text" style="background-color: white;" placeholder="Enter a Category Name" name="addCategory" />
          {{#if movies}}
          <ul style="padding: 0;">
            <div class="container" style="margin-bottom: auto;">
              <div class="card" style="display:block;">
                <div class="card-body">
                  <h5 class="card-title">{{movies.movieTitle}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    Movie Year: {{movies.movieYear}} | Length: {{movies.movieLength}} | Rating: {{movies.movieRating}}
                  </h6>
                  <div class="card-body" style="color: black; text-align:center;">
                    {{#each category}}
                      {{this.addCategory}}<br>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </ul>
          {{/if}}

                  <button type="submit" class="registerbtn" href="/cateAdded">Add Category</button>
                </div>

                </div>
              
              </form>                    
            </div>
        </div>
    </main>
</body>