{{!--  
Page to add categories to the database, but the SECOND PAGE after hitting submit on addCate's page
  --}}
<link rel="stylesheet" href="/static/addCate.css">
<body>
    <main class= "contentContainer" role= "main">
        <div class= "index">
              <form action="/addCategory" method="POST">
                <div class="container">
                  <br>
                  <h1 style="color: black;">Suggest a Category</h1>
                  <hr>
              
                  <!-- ***** we will need to refine this later once the database for movie categories are up and running some variable names are incorrect -->
                  <label for="cate-name"><h4><b>Give your category a name.</b></h4></label>
                  <input type="text" style="background-color: white;" placeholder="Enter a Category Name" name="addCategory" />
                  {{#if movies}}
                  <ul>
                      <li>{{movies.movieTitle}} length {{movies.movieLength}}mins, {{movies.movieYear}} Rating {{movies.movieRating}}</li>
                      {{#each category}}
                      <li>    {{this.addCategory}}</li>
                      {{/each}}
                  </ul>
                  {{/if}}

                  <button type="submit" class="registerbtn">Finish</button>
                </div>

                </div>
              
              </form>                    
            </div>
        </div>
    </main>
</body>