{{#if error}}
<div style="background: red; color: white;">
    {{error}}
</div>
{{/if}}
<h1>Movies with certain categories</h1>

<ul>
    {{#each movies}}
    <li>{{this.movieTitle}} is {{this.movieLength}} mins, {{this.movieYear}} Rating: {{this.movieRating}}</li>
    {{/each}}
</ul> 

{{#if user}}
<a href='/'>home </a><a href='/logout'> logout </a><a href='/search'> search for a movie </a><a href="/listMovies"> List of Movies </a>
<form action="/searchCategory" method="GET">
<input type="test" placeholder="Desired Category" name="category" />
<button type="submit">find</button>
</form>
{{else}}
<a href='/'>home </a><a href='/register'> register </a> <a href='/login'> login </a><a href='/search'> search for a movie </a>
<form action="/searchCategory" method="GET">
<input type="test" placeholder="Desired Category" name="category" />
<button type="submit">find</button>
</form>
{{/if}}